/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

button {
    cursor: pointer;
}

i {
    cursor: pointer;
}


.app-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 320px;
    padding: 16px 20px;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    z-index: 9999;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    animation: slideInRight 0.4s ease forwards;
}

.toast-success {
    background: #22c55e;
}

.toast-error {
    background: #ef4444;
}

@keyframes slideInRight {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(120%);
        opacity: 0;
    }
}

.toast-hide {
    animation: slideOutRight 0.4s ease forwards;
}